RABBITMQ_URL=amqp://rmuser:rmpassword@localhost:5672/%2F
RABBITMQ_JOB_QUEUE=job
RABBITMQ_RESULT_QUEUE=tab

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=miniouser
MINIO_SECRET_KEY=miniopass
MINIO_SECURE=false
MINIO_BUCKET_AUDIO_TEMP=audio-temp
MINIO_BUCKET_MUSICXML=musicxml

